.footer-parent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #96979E; 
    font-size: 14px;
    background-color: #F2F2F2;
}
.footer-tc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
} 
.footer-cr{
    margin: 2% 3%;
}
.signup-input input::placeholder {
    color: gray;
    font-size: 12px;
    opacity: 0.7;
}

@media only screen and (max-width: 768px) { 
    .footer-parent{
        flex-direction: column;
        align-items: center;
        padding: 2%;
        width: 100%;
    }
    .footer-tc{
        margin-left: 0;
    }
}