.signup-parent {
    background-color: var(--primary-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4% 0%;
}

.signup-text {
    font-size: 32px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 2%;
}

.signup-input {
    width: 250px;
    padding: 20px;
    height: 40px;
    margin-right: 2px;
    font-size: 16px;
}

.signup-input::placeholder {
    color: gray;
    font-size: 16px;
    opacity: 0.7;
}

.signup-form {
    display: flex;
    gap: 10px
}

.signup-demo {
    color: #556574;
    margin-top: 2%;
}

.signup-link {
    color: var(--button-nav-color);

}

.signup-link span {
    display: inline-block;
    transition: transform 0.5s ease;
    cursor: pointer;
}

.signup-button {
    background-color: var(--button-nav-color);
    color: #FFFFFF;
    border-radius: 4px;
    padding: 5px 15px;
    border: none;
    float: right;
    height: 40px;
    width: 230px;
    font-size: 16px;
    cursor: pointer;

}

.signup-email-error {
    color: #556574;
}

.signup-link span:hover {
    transform: translateX(10px);
}

a {
    text-decoration: none;
    color: inherit;
}


@media only screen and (max-width: 768px) {

    .signup-text {
        font-size: 24px;
        text-align: center;
        width: 100%;
    }

    .signup-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .signup-button {
        width: 100%;
        margin-top: 2%;
    }

    .signup-demo {
        font-size: 14px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .signup-input {
        width: 100%;
    }
}