* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%; 
  min-height: 100vh;
  overflow-x: hidden;
}

/* .wrapper-parent {
  width: 100%;
  
  max-width: 100%;
} */
.wrapper-parent {
  width: 100vw;  /* Ensure full viewport width */
  max-width: 100%;
  overflow-x: hidden;
}


@media (max-width: 768px) {
  .wrapper-parent {
    padding: 0 0px; 
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
